/target/


# Package Files #
*.jar
*.war
*.ear


# additional files to be ignored 
ListOfLimitations.txt
.settings/
doc/
target/
samples/
test-output/
.project
src/main/java/com/evolveum/polygon/hcm/Main.java
exampleData/
