/target/


# Package Files #
*.jar
*.war
*.ear


# additional files to be ignored 
ListOfLimitations.txt
.settings/
doc/
target/
samples/
test-output/
.project

exampleData/
tests/
/Main.java
src/main/java/com/evolveum/polygon/connector/hcm/Main.java